<div class="container">
  <div class="task col-lg-6 col-3-sm mx-auto mt-5">
    <% if (taskPage === "dayTask") { %>
    <h1 class="title text-center"><%= dayOfTheWeek %>, <%= todayDate %></h1>
    <% } else { %>
    <h1 class="title text-center"><%= 5 - dayOfTheWeek%> days left!</h1>
    <%} %>
    <div
      class="d-flex flex-md-row flex-column p-10 gap-4 py-md-5 align-items-center justify-content-center"
    >
      <div class="list-group">
        <% for (i in newTask) { %> <% if (i) { %>
        <label class="list-group-item d-flex">
          <input
            class="form-check-input flex-shrink-0"
            type="checkbox"
            value=""
            style="font-size: 1.375em"
          />
          <span class="pt-1 form-checked-content ps-4">
            <strong><%= newTask[i] %></strong>
          </span>
        </label>
        <% } %> <% } %>
        <label class="list-group-item d-flex">
          <form class="item" action="/dayTask" method="POST">
            <input
              type="text"
              name="newTask"
              placeholder="New Task"
              autocomplete="off"
            />
            <button type="submit" name="list">+</button>
          </form>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-1">
  <form action="/clearArray" method="post">
    <button type="submit" class="btn btn-danger mt-3">Clear List</button>
  </form>
</div>
