<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/aboutme.css" />
    <link rel="stylesheet" href="/styles/header-footer.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>AboutMe</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 about-section">
          <img
            src="imgs/portrait.jpg"
            alt="Profile Picture"
            class="profile-image"
          />
          <div class="about-text">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <button class="btn btn-dark">Contact Me</button>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrap">
      <div class="flex flex-col gap-2">
        <p class="subtitle">Welcome to my corner of the digital world!</p>
        <p class="info">
          I’m
          <span>Matilde</span>, A graduate from the prestigious University of
          Melbourne.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="subtitle">Unveiling Who I Am</p>
        <p class="info">
          Just a girl who wants to create captivating apps, innovative websites,
          and immersive games of her own.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="subtitle">What I do</p>
        <p class="info">
          Studying is more than just a task; it's a passion. Currently, I'm
          volunteering at STEM Sis, where I am developing an innovative app to
          support the SWOP SIS initiative, empowering women in professional
          environments with sustainable fashion solutions. This project aligns
          perfectly with my commitment to using technology for social good,
          bridging my technical skills with my dedication to meaningful,
          impactful work.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="subtitle">What I Did</p>
        <p class="info">
          Throughout my academic journey at University of Melbourne, I had the
          privilege of delving into both the design world and the world of code.
          From collaborating to create beautiful UI to mastering the inticacies
          of algorithms, I have learnt the power of collaboration, and
          relentless weeks of sitting on my ass and coding (which, believe it or
          not, i do enjoy).
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="subtitle">Why Am I Heading Down This Path</p>
        <p class="info">
          After 18 years of studying, the one thing that I've learnt is I hold a
          STRONG AVERSION for writing. I love how I can see my creations evolve
          in real time. Much like when I was engrossed with Sims4, creating and
          upgrading my houses as I go, programming offers a continuous sense of
          achievement. Every meticulous placement of an image, every command
          mastered, IT GIVES ME A SENSE OF ACCOMPLISHMENT.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="subtitle">A Glimpse into Me</p>
        <ul class="info">
          <li>A fusion of Portuguese and Chinese heritage</li>
          <li>Been gaming since I could walk</li>
          <li>Not just a nerd but a shopaholic</li>
          <li>A weird sense of humour</li>
        </ul>
      </div>
      <div class="flex flex-col gap-2">
        <p class="info">
          Thanks for reading till the end. Feel free to reach out, check out my
          projects, my resume, you might find something you like 🤗.
        </p>
        <p class="info">
          Love,<br />
          Matilde ❤️
        </p>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

    <script href="portfolio.js"></script>
  </body>
</html>
