<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="stylesheet" href="/styles/header-footer.css" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous"
        />
        <script src="https://unpkg.com/scrollreveal"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <title>Portfolio</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="container-fluid g-0">
            <div class="row position-relative g-0"> 
                <div class="col-md-5 left-side">
                    <div class="overlap-card">
                        <div class="card-content animate__animated animate__fadeIn justify-content-center align-self-center">
                            <div class="text-center">
                                <img src="imgs/IMG_7510.HEIC.png" alt="Profile" class="mb-4 profile-img">
                                <h1 class="name">Matilde Isabel</h1>
                                <h1 class="name">Alves de Jesus</h1>
                                <div class="divider mt-4 border-top align-self-center border"></div>
                                <p class="job-title mt-3">Full-Stack Developer</p>
                                <p class="job-title mt-3">Master of IT Student @ RMIT</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 right-side">
                    <div class="right-content">
                        <p class="lead">
                            Masters of IT student with hands-on experience in full-stack 
                            development through academic projects and nonprofit tech work, actively seeking
                            opportunities in the tech industry. Passionate about building intuitive web experiences,
                            from concept to deployment. Demonstrates creative problem-solving and analytical 
                            thinking through a self-developed portfolio. Served as a dedicated Application
                            Developer for STEM Sisters, showcasing strong interpersonal skills and a dedicated
                            work ethic. Looking for entry level full-stack developer opportunities that will 
                            foster my adaptable and flexible approach to learning and development.
                        </p>
                        <div class="buttons">
                            <button class="btn-resume" id="skillset-button">
                                <a href="/skillset" class="no-underline">SKILLSET</a>
                            </button>
                            <button class="btn-projects" id="project-button">
                                <a href="/project" class="no-underline">PROJECTS</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script href="portfolio.js"></script>
        <script>
            ScrollReveal().reveal(".overlap-card", { delay: 500 });
            ScrollReveal().reveal(".buttons", { delay: 2000 });
            ScrollReveal().reveal(".lead", { delay: 1500 });
        </script>
    </body>
</html>
