<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/project.css" />
        <link rel="stylesheet" href="/styles/header-footer.css" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous"
        />
        <script src="https://unpkg.com/scrollreveal"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <title>SkillSet</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>

        <div class="frame projects g-4">
                <div class="project ">
                    <div class="project-card">
                        <div class="card">
                            <img class="work" src="img/work.png" />
                        </div>
                    </div>
                    <div class="project-content">
                        <div class="information">
                            <div class="div-2">
                                <p class="title">Yummify</p>
                                <p class="p">
                                A website that looks up recipes based on intolerances and
                                ingredients. (need to write more)
                                </p>
                            </div>
                            <div class="div-2">
                                <div class="title-2">PROJECT INFO</div>
                                <div class="list">
                                    <div class="div-3">
                                        <div class="topic">Year</div>
                                        <div class="value">2023</div>
                                    </div>
                                <div class="div-3">
                                    <div class="topic">Role</div>
                                    <div class="value">Front-end Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="div-4">
                            <div class="view-project">
                                <div class="title-and-arrow">
                                    <div class="title-3">LIVE DEMO</div>
                                    <div class="arrow"><img class="vector" src="img/vector-4.svg" /></div>
                                </div>
                                <img class="underline" src="img/image.svg" />
                            </div>
                            <div class="view-project">
                                <div class="title-and-arrow">
                                    <div class="title-3">SEE ON GITHUB</div>
                                    <div class="bxl-github-svg"><img class="img" src="img/vector-2.svg" /></div>
                                </div>
                                <img class="underline" src="img/underline-4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            
                
            </div>


       
        <%- include("partials/footer.ejs") %>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script href="portfolio.js"></script>
         <script>
            ScrollReveal().reveal(".tool", { delay: 4800 });
            ScrollReveal().reveal(".card1", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-1s"
                );
                },
            });
            ScrollReveal().reveal(".card2", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-2s"
                );
                },
            });
            ScrollReveal().reveal(".card3", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-3s"
                );
                },
            });

            document.querySelectorAll(".card").forEach((card) => {
                card.addEventListener("mouseenter", () => {
                card.style.transform = "scale(1.05)";
                });

                card.addEventListener("mouseleave", () => {
                card.style.transform = "scale(1)";
                });
            });
        </script>
    </body>
</html>
