<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="/styles/index.css" /> -->
        <link rel="stylesheet" href="/styles/header-footer.css" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous"
        />
        <script src="https://unpkg.com/scrollreveal"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <title>SkillSet</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="cards-container" style="background-color: #e6dace;">
            <div class="row p-3 align-items-center">
                <div class="col-md-4 card1">
                    <div
                        class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    >
                        <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">UI/UX Interface Design</h3>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img
                                class="bd-placeholder-img"
                                width="200"
                                height="250"
                                src="imgs/responsive-design.png"
                                alt="Thumbnail"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                                focusable="false"
                            />
                        </div>
                        <a
                        href="https://www.flaticon.com/free-icons/web-design"
                        title="web design icons"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-link-45deg"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                            />
                            <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
                            /></svg
                        ></a>
                    </div>
                </div>
                <div class="col-md-4 card2">
                    <div
                        class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    >
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Responsive Web Development</h3>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img
                                class="bd-placeholder-img"
                                width="200"
                                height="250"
                                src="imgs/web-development.png"
                                alt="Thumbnail"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                                focusable="false"
                            />
                        </div>

                        <a
                        href="https://www.flaticon.com/free-icons/web-development"
                        title="web development icons"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-link-45deg"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                            />
                            <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
                            /></svg
                        ></a>
                    </div>
                </div>
                <div class="col-md-4 card3">
                    <div
                        class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                    >
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Full-Stack Mobile App</h3>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img
                                class="bd-placeholder-img"
                                width="200"
                                height="250"
                                src="imgs/app-design.png"
                                alt="Thumbnail"
                                role="img"
                                aria-label="Placeholder: Thumbnail"
                                focusable="false"
                            />
                        </div>
                        <a
                        href="https://www.flaticon.com/free-icons/app-design"
                        title="app design icons"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-link-45deg"
                            viewBox="0 0 16 16"
                        >
                            <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
                            />
                            <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
                            /></svg
                        ></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 px-5"
            style="background-color: #e6dace;"
        >
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/javascript.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Javascript</h2>
                    <p>Creating interactive web experiences.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/typescript.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Typescript</h2>
                    <p>Strongly typed Javascript superset.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/react.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">React</h2>
                    <p>JavaScript library for UIs.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/nodejs.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Node.js</h2>
                    <p>Powering server-side application logic.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/react-native.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">React Native</h2>
                    <p>Developing native-like mobile apps.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/expo.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Expo</h2>
                    <p>React Native app development framework.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/docker.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Docker</h2>
                    <p>Containerization platform for apps.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/express.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Express</h2>
                    <p>Node.js web application framework.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/mongodb.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">MongoDB</h2>
                    <p>NoSQL document database system.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/mysql.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">MySQL</h2>
                    <p>Popular relational database system.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/supabase.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Supabase</h2>
                    <p>Open-source Firebase alternative.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/azuredata.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Azure Data Studio</h2>
                    <p>Database management cross-platform tool.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/python.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Python</h2>
                    <p>High-level interpreted programming language.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/java.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Java</h2>
                    <p>Object-oriented programming language.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/csharp.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">C#</h2>
                    <p>Object-oriented .NET ecosystem powerhouse.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/c.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">C</h2>
                    <p>General-purpose programming language.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/html.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">HTML</h2>
                    <p>Structuring web content foundation.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/css.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">CSS</h2>
                    <p>Styling with precision and flexibility.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/sass.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Sass</h2>
                    <p>Enhanced styles with powerful features.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/bootstrap.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Bootstrap</h2>
                    <p>Responsive design with ready-to-use components.</p>
                </div>
            </div>


            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/ejs.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">EJS</h2>
                    <p>Server-side HTML templating made simple.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/npm.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">NPM</h2>
                    <p>Managing packages for development efficiency.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/nodejs.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Node.js</h2>
                    <p>Powering server-side application logic.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/figma.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Figma</h2>
                    <p>Designing with collaborative UI tools.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/xd.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Xd</h2>
                    <p>Prototyping UX with streamlined workflows.</p>
                </div>
            </div>
        
            <div class="col d-flex align-items-start tool">
                <img src="imgs/logo/git.svg" />
                <div>
                    <h2 class="fw-bold mb-0 fs-4">Git</h2>
                    <p>Distributed version control system.</p>
                </div>
            </div>
            

        </div>

        <%- include("partials/footer.ejs") %>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"
        ></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script href="portfolio.js"></script>
         <script>
            ScrollReveal().reveal(".tool", { delay: 1500 });
            ScrollReveal().reveal(".card1", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-1s"
                );
                },
            });
            ScrollReveal().reveal(".card2", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-1s"
                );
                },
            });
            ScrollReveal().reveal(".card3", {
                beforeReveal: function (el) {
                el.classList.add(
                    "animate__animated",
                    "animate__jackInTheBox",
                    "animate__delay-1s"
                );
                },
            });

            document.querySelectorAll(".card").forEach((card) => {
                card.addEventListener("mouseenter", () => {
                card.style.transform = "scale(1.05)";
                });

                card.addEventListener("mouseleave", () => {
                card.style.transform = "scale(1)";
                });
            });
        </script>
    </body>
</html>
