@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap");

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

h2,
p {
  font-family: "Arvo", serif;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 900;
}

span.name {
  color: white;
}

div.body {
  width: 50%;
  margin: 9% 50% 4%;
}
